/*Startview*/
.StartButton{
	height:5rem;
	width:100%;
}
.StartButton .sapMBtnInner{
	background-color:green;
	color: white; /* Green Startbutton*/
    border: none;
    width: 100%;
    height:5rem;
    font-size: 2.5rem;
    text-align: center;
} 
.StartButton .sapMBtnContent {
	line-height: 4rem;
	width:100%;
}

.StopButton{
	height:5rem;
	width:100%;
	margin-bottom:0;
}
.StopButton .sapMBtnInner{
	background-color:red;
	color: white;
    border: none;
    width: 100%;
    height:5rem;
    font-size: 2.5rem;
    text-align: center;
} 
.StopButton .sapMBtnContent {
	line-height: 4rem;
	width:100%;
}

.ResetRouteButton{
	height:4rem;
	width:100%;
}
.ResetRouteButton .sapMBtnInner{
    width: 100%;
    text-align: center;
    font-size: 1rem;
    height:3rem;
} 
.ResetRouteButton .sapMBtnContent {
	line-height: 2.5rem;
	width:100%;
}

.CalculateRouteButton{
	height:4rem;
	width:100%;
}
.CalculateRouteButton .sapMBtnInner{
    text-align: center;
    font-size: 1rem;
    height:3rem;
} 
.CalculateRouteButton .sapMBtnContent {
	line-height: 2.5rem;
	
}
.container1 .sapUiFormResLayout>div{
	padding-top:0.5;
	padding-bottom:0;
}
.container2 .sapUiFormResLayout>div{
	padding-top:0;
	padding-bottom:0;
	padding-left:2;
	padding-right:2;
}
.container3 .sapUiFormResLayout>div{
	padding-top:0;
	padding-bottom:0;
	padding-left:2;
	padding-right:2;
}
.ScanContent .sapUiFormResLayout>div{
	padding-top:0;
	padding-bottom:0;
}
.Scan123 .sapUiFormResLayout>div{
	padding-top:0;
	padding-bottom:0;
	padding-left:2;
	padding-right:2;
}
.NextPos .sapUiFormResLayout>div{
	padding-top:0;
	padding-bottom:0;
	padding-left:2;
	padding-right:2;
}

.RfidTagInput{
	height:4rem;
	margin-top:0.25rem;
}
.RfidTagInput .sapMInputBaseInner, .sapMInputBasePlaceholder{
    width: 100%;
    text-align: center;
    font-size: 1rem;
    height:3rem;
} 
.RfidTagInput .sapMBtnContent {
	line-height: 2.5rem;
	width:100%;
}

.GoToRfidTagButton{
	height:4rem;
	width:100%;
}
.GoToRfidTagButton .sapMBtnInner{
    width: 100%;
    text-align: center;
    font-size: 1rem;
    height:3rem;
} 
.GoToRfidTagButton .sapMBtnContent {
	line-height: 2.5rem;
	width:100%;
}
/*EntladenView*/

.BoxesButtonsContent .sapUiFormResLayout>div{
	padding-top:0;
	padding-bottom:0;
	padding-left:2;
	padding-right:2;
}

.BoxButton{
	height:5rem;
	width:100%;
}
.BoxButton .sapMBtnInner{
	background-color:blue;
	color:white;
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    height:5rem;
} 
.BoxButton .sapMBtnContent {
	line-height: 4.5rem;
	width:100%;
}
.NextPosi{
	height:5rem;
	width:100%;
}
.NextPosi .sapMBtnInner{
	background-color:#006600;
	color:white;
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    height:5rem;
}
.NextPosi .sapMBtnContent {
	line-height: 4.5rem;
	width:100%;
}
.ScanButton{
	height:5rem;
	width:100%;
}
.ScanButton .sapMBtnInner{
	background-color:orange;
	color:white;
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    height:5rem;
}
.ScanButton .sapMBtnContent {
	line-height: 4.5rem;
	width:100%;
}
.ScanBeladenButton{
	height:5rem;
	width:100%;
}
.ScanBeladenButton .sapMBtnInner{
	background-color:#9ACD32;
	color:white;
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    height:5rem;
}
.ScanBeladenButton .sapMBtnContent {
	line-height: 4.5rem;
	width:100%;
}
.ScanEntladenButton{
	height:5rem;
	width:100%;
}
.ScanEntladenButton .sapMBtnInner{
	background-color:#FF4500;
	color:white;
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    height:5rem;
}
.ScanEntladenButton .sapMBtnContent {
	line-height: 4.5rem;
	width:100%;
}
.BoxText .sapMText{
	font-size: 2.5rem;
	line-height: 2;
}
